.paramInput > div {
    margin: 0.5em auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.paramInput > div > div {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    padding-right: 0.5em;
}

.paramInput > div > div > label {
    flex: 1;
}

.paramInput input {
    flex: 1;
    font-size: 1em;
}

.paramInput > div > div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.paramInput > div > div > div > label {
    padding-left: .5em;
    font-family: sans-serif;
}

.modelParam-input {
    display: flex;
    flex-direction: column;
}

.modelParam-input .input-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 0.5em;
}

.modelParam-input .input-fields div {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    padding-right: 0.5em;
}

.modelParam-input .input-fields input {
    font-size: 1em;
}

.modelParam-input .button-field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em 0em;
}

.button {
    font-size: 1em;
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 0.5em 1em;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 5px 1px rgba(29, 29, 29, 0.25);;
}

.button:hover, .button:focus-visible {
    opacity: 0.75;
    box-shadow: 0px 5px 10px 1px rgba(29, 29, 29, 0.25);;
}

.modelParam-input .input-fields div label {
    padding-right: 0.1em;
    flex: 1;
}

.modelParam-input .input-fields div input {
    flex: 1;
}

.dataset-plot {
    display: flex;
    justify-content: center;
}

.dataset-plot div {
    width: 100% !important;
}