.paramInput {
    margin: 0.5em auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-family: var(--ff-sans-primary);
    font-weight: 100;
    font-size: var(--fs-400);
    margin-bottom: 0.25rem;
}

@media (max-width: 600px)
{
    .paramInput {
        grid-template-columns: 1fr;
    }
}


.input-group > * {
    flex: 1;
}

.input-group input[type="text"],
.input-group input[type="number"] {
    font-size: var(--fs-400);
    padding: 0.5rem 0.7rem;
}

.input-range-group {
    display: flex;
}

.input-range-group input {
    flex: 1;
}

.input-range-group label {
    flex: 0 0 4ch;
    text-align: left;
}

.dataset-plot {
    display: flex;
    justify-content: center;
}

.dataset-plot div {
    width: 100% !important;
}

.modelParam-input {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-bottom: 1em;
}

.modelParam-input .input-fields {
    display: grid;
    gap: 1rem;
    grid-auto-flow: row;  
    grid-template-columns: 1fr 1fr; 
}


@media (max-width: 600px)
{
    .modelParam-input .input-fields {
        grid-template-columns: 1fr;
    }
}


.button-field {
    display: flex;
    flex-direction: row;
    justify-content: center;
}