.article  {
    padding: 2em 0em;
}

.article > div {
    max-width: min(50em, 100% - (2 * 1em));
    padding: 0em 0em;
    margin: 0px auto;
    font-family: 'Lora', serif;
}

.article .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size  : 2em;
    margin-bottom: 0.5em;
}

.article h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size  : 1.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.article h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size  : 1.25em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.article > div {
    line-height: 2em;
}

.latex-section {
    overflow-x: auto;
    overflow-y: hidden;
}