.loaderContainer {
    margin-block: var(--space-800);
    display: flex;
    justify-content: center;
}

.loader {
    --width: 4rem;
    border: calc(var(--width) / 4) solid #f3f3f3; /* Light grey */
    border-top: calc(var(--width) / 4) solid var(--color-primary-400); /* Blue */
    border-radius: 50%;
    width: var(--width);
    aspect-ratio: 1;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
