.nav-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.nav-container > div {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: min(90%, 60rem);
    margin-inline: auto;
    padding: 1em 0em;
}

.nav-container nav ul {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}

.nav-container nav ul li a {
    font-family: var(--ff-sans-secondary);
    text-decoration: none;
    color: var(--color-neutral-100);
}

.logo-text {
    font-family: var(--ff-sans-primary);
}

