
footer {
    background-color: var(--color-neutral-100);
    padding: 3rem 0rem;
}

footer, footer a {
    color: var(--color-neutral-700);
}

footer > div > div > p:first-of-type {
    font-family: var(--ff-sans-primary);
    font-size: var(--fs-300);
    font-weight: bold;
}

footer > div > div > p:not(:first-of-type) {
    font-family: var(--ff-sans-secondary);
    font-size: var(--fs-300);
    line-height: 1.25rem;
}

footer > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer > div > * {
    flex: 1;
}